@import './variables';
@import './blocks/cards';
@import './blocks/stars';
@import './blocks/header';

html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $main-secondary-color;
}

body {
  margin: 0;
}
